{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for cat in categories %}
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="{% static cat.category_img_loc %}" alt="image missing"/>
            <div class="card-body">
              <h5 class="card-title">{{ cat.category }}</h5>
              <p class="category-text">
                {{ cat.category_summary }}
              </p>
              <a href="{{ cat.category_slug}}" class="card-link">{{ cat.category }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}