{% extends 'main/layout.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
        <form method="POST">
        {% csrf_token %}
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <a href="/profile/edit/"  class="btn btn-sm btn-primary" role="button" type="submit">Edit Profile</a>
        <a href="/accounts/password_change/"  class="btn btn-sm btn-secondary" role="button" type="submit">Change Password</a>
    </form>
{% endblock %}
