{% extends 'main/layout.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <h3>Login</h3>
    <div>
        <form method="POST">
            {% csrf_token %}
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LcrZ7gaAAAAAPNCJLNeSp7-fDmDByQqaTpgoxbb"></div>
            <button class="btn btn-sm btn-primary" type="submit">Login</button>
        </form>
    </div>
    <div>
        If you do not have an account, <a href="/register"><strong>register</strong></a> now.
    </div>
    <div>
        If you do forgot your password, <a href="/accounts/password_reset/"><strong>reset</strong></a> now.
    </div>
{% endblock %}
