{% extends 'main/layout.html' %}
{% block title %} Register {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey={{sitekey}}></div>
        <button class="btn btn-sm btn-primary" type="submit">Register</button>
    </form>

    If you already have an account, <a href="/accounts/login/"><strong>login</strong></a> instead.
{% endblock %}