{% extends 'blog/layout.html' %}
{% load widget_tweaks %}
{% block title %} Blog Details {% endblock %}
{% block content %}
    <h1 class="title">{{ post.title }}</h1>

    <small>Posted at {{ post.inserted_date }}</small>

    <p><strong>{{ post.intro }}</strong></p>

    <p>{{ post.body }}</p>

    <hr>

    <h2 class="subtitle">Comments</h2>

    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        Comment by <strong>{{ comment.name }}</strong> on <strong>{{ comment.comment_inserted_date }}</strong>
                        <br>
                        {{ comment.body }}
                    </p>
                <div>
            </div>
        </article>
        {% empty %}
            <div class="notification">
                <p>No comments yet!</p>
            </div>
    {% endfor %}

    <hr>

    <h2 class="subtitle">Add comment</h2>

    <div class="form-group">
        <form method="POST" action="">
        {% csrf_token %}
            <div class="form-group">
                {% render_field form.body class="form-control" placeholder="Enter comment here" %}
            </div>
            <div class="field">
                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}